html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}
body {
	z-index: 1;
	background-position: center;
	background-attachment: fixed;
}

.github-corner {
	opacity: 0.4;
}
.github-corner:hover {
	opacity: 1;
}

#wrapper {
	height: 100%;
	display: grid;
}

#itemlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, .4);
    font-size: 4em;
}

#itemlist > .item {
    padding: 15px;
    margin: 0;
    box-sizing: border-box;
    flex: 0 1 calc(100% / 2);
}

.item {
    text-align: center;
}

@media only screen and (max-width: 500px) {
    #itemlist {
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media only screen and (min-width: 400px) {
    #itemlist > .item {
        flex: 0 1 calc(100% / 3);
    }
}

@media only screen and (min-width: 600px) {
    #itemlist > .item {
        flex: 0 1 calc(100% / 6);
    }
}

/* link colors */
#itemlist a {
	color: #fff;
}
#itemlist a:hover {
	color: #c4c4c4;
}
